            @import url('http://fonts.cdnfonts.com/css/circular-std-book');
            * {
                box-sizing: border-box;
            }
            
            body {
                padding: 0;
                margin: 0;
                box-sizing: border-box;
                background-color: #FCFCFC;
            }
            
            .container {
                width: 1240px;
                height: 100%;
                margin: 0 auto;
                padding: 0 20px;
            }
            
            .row {
                display: flex;
            }
            
            .bx {
                font-size: 24px;
            }
            
            .header {
                width: 100%;
                height: 100%;
                z-index: 1;
            }
            
            .navbar {
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 15px;
            }
            
            .nav-list {
                margin: 0;
                padding: 0;
                list-style: none;
                display: flex;
                align-items: center;
            }
            
            .nav-item {
                padding-left: 72px;
            }
            
            .nav-link {
                font-family: 'Circular Std';
                font-style: normal;
                font-weight: 500;
                font-size: 20px;
                line-height: 30px;
                text-transform: capitalize;
                transition: 0.4;
                color: #AAAAAB;
                text-decoration: none;
                -webkit-transition: 0.4;
                -moz-transition: 0.4;
                -ms-transition: 0.4;
                -o-transition: 0.4;
            }
            
            .active {
                color: #56597A;
            }
            
            .nav-link:hover {
                color: #56597A;
            }
            /* End Header */
            /* Home Section */
            
            #home {
                width: 100%;
                height: 100%;
                padding: 129px 0 192px 0;
            }
            
            #home::before {
                content: "";
                position: absolute;
                top: -28%;
                right: 0%;
                width: 560px;
                height: 1065px;
                display: inline-block;
                background: url(../img/bg/hed-bg.svg);
                background-repeat: no-repeat;
                background-size: 100% 100%;
                z-index: -1;
            }
            
            .left {
                width: 50%;
                height: 100%;
            }
            
            .right {
                width: 50%;
                height: 100%;
            }
            
            .sub-title {
                font-family: 'Circular Std';
                font-style: normal;
                font-weight: 500;
                font-size: 28px;
                line-height: 40px;
                color: #F78CB6;
            }
            
            .home-sub-title::before {
                content: "";
                width: 30px;
                height: 2px;
                display: inline-block;
                background-color: #F78CB6;
                border-radius: 25%;
                -webkit-border-radius: 25%;
                -moz-border-radius: 25%;
                -ms-border-radius: 25%;
                -o-border-radius: 25%;
            }
            
            .home-title {
                font-family: 'Circular Std';
                font-style: normal;
                font-weight: 700;
                font-size: 64px;
                line-height: 74px;
                color: #56597A;
            }
            
            .dec {
                font-family: 'Proxima Nova';
                font-style: normal;
                font-weight: 400;
                font-size: 20px;
                line-height: 32px;
                letter-spacing: 0.02em;
                color: #919299;
                padding-right: 48px;
                margin-bottom: 42px;
            }
            
            .button {
                position: relative;
                padding: 18px 65px 18px 22px;
                text-decoration: none;
                font-family: 'Circular Std';
                font-style: normal;
                font-weight: 500;
                font-size: 20px;
                line-height: 30px;
                letter-spacing: 0.02em;
                color: #FFFFFF;
                background: #F78BB6;
                border-radius: 4px;
            }
            
            .button>.bx {
                position: absolute;
                font-size: 35px;
                top: 12px;
                right: 14px;
            }
            
            .hed-img {
                width: 532px;
                height: 532px;
                padding-left: 25px;
            }
            /* Home-section End */
            /* Services Section */
            
            #services {
                position: relative;
                width: 100%;
                height: 100%;
                padding-bottom: 231px;
            }
            
            #services::before {
                content: "";
                position: absolute;
                top: -28%;
                left: -2%;
                width: 373.01px;
                height: 388.33px;
                display: inline-block;
                background: url('../img/bg/befor.png');
                background-repeat: no-repeat;
                background-size: 100% 100%;
                z-index: -1;
            }
            
            .services-head {
                text-align: center;
            }
            
            .title {
                font-family: 'Circular Std';
                font-style: normal;
                font-weight: 700;
                font-size: 52px;
                line-height: 72px;
                color: #56597A;
            }
            
            .services-list {
                padding: 0;
                margin: 0 auto;
                list-style: none;
                display: flex;
                align-items: flex-start;
            }
            
            .card {
                width: 270px;
                height: 307px;
                padding: 23px;
                padding-top: 55px;
                background: #FFF1F9;
                border-radius: 8px;
                margin: 10px;
                transition: 0.4s;
            }
            
            .card-body {
                display: flex;
                justify-content: center;
                flex-direction: column;
                align-items: center;
            }
            
            .card:hover {
                height: 344px;
                background: #F78CB6;
                border-radius: 8px;
                -webkit-border-radius: 8px;
                -moz-border-radius: 8px;
                -ms-border-radius: 8px;
                -o-border-radius: 8px;
            }
            
            .card:hover .card-text {
                color: #fff;
            }
            
            .card:hover .card-title {
                color: #fff;
            }
            
            .services-link {
                position: relative;
            }
            
            .card-link {
                position: absolute;
                left: 50px;
                bottom: -50px;
                display: flex;
                align-items: center;
                font-family: ' Circular Std';
                text-decoration: none;
                font-style: normal;
                font-weight: 500;
                font-size: 20px;
                line-height: 30px;
                color: #FFFFFF;
                opacity: 0;
                transition: 0.4s;
            }
            
            .card:hover .card-link {
                text-decoration: none;
                color: #fff;
                opacity: 1;
                transition-delay: 0.16s;
            }
            
            .card-title {
                font-family: 'Circular Std';
                font-style: normal;
                font-weight: 500;
                font-size: 34px;
                line-height: 72px;
                margin: 0;
                color: #56597A;
            }
            
            .card-text {
                font-family: 'Proxima Nova';
                font-style: normal;
                font-weight: normal;
                font-size: 16px;
                line-height: 24px;
                text-align: center;
                color: #919299;
            }
            /* Services end */
            /* About Section */
            
            #about {
                width: 100%;
                height: 100%;
                background: url('../img/bg/after.png');
                background-repeat: no-repeat;
                background-size: 250px 400px;
                background-position-x: 100%;
                background-position-y: 22%;
            }
            
            .one-page {
                display: flex;
                flex-flow: row-reverse;
            }
            
            .two-page {
                padding: 194px 0;
            }
            
            .name {
                font-family: 'Proxima Nova';
                font-style: normal;
                font-weight: 700;
                font-size: 28px;
                line-height: 32px;
                margin: 0;
                padding: 0;
                color: #56597A;
            }
            
            .sub-text {
                font-family: 'Proxima Nova';
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 32px;
                color: #ABABAB;
            }
            
            .about-img {
                width: 587px;
                height: 587px;
                margin-top: 29px;
            }
            
            .one-page>.left {
                margin-right: 79px;
            }
            
            #brends {
                padding: 215px 0 216px 0;
            }
            
            .brends {
                display: flex;
                justify-content: space-between;
                align-items: center;
            }
            /* Contact Sections */
            
            #contact {
                padding: 55px 0;
                background: url('../img/bg/after.png');
                background-repeat: no-repeat;
                background-size: 250px 400px;
                background-position-x: 100%;
            }
            
            .contact-text {
                text-align: center;
                margin-top: 0;
                padding: 0 22rem;
            }
            
            .input-item {
                width: 600px;
                height: 80px;
                font-family: 'Proxima Nova';
                font-style: normal;
                font-weight: 400;
                font-size: 20px;
                line-height: 32px;
                color: #D2D2D2;
                margin: 10px 0 10px 0;
                border: 2px solid #DADCE5;
                background: #fff;
                border-radius: 5px;
                padding: 16px 195px 16px 45px;
                outline: none;
                box-shadow: 2px 0 25px #f78cb6;
            }
            
            .form {
                position: relative;
                display: flex;
                justify-content: center;
                flex-direction: column;
                align-items: center;
            }
            
            .form::before {
                content: "";
                width: 350px;
                height: 350px;
                background: url("../img/title/export.svg");
                background-repeat: no-repeat;
                position: absolute;
                left: -7%;
            }
            
            .mail-bx {
                position: absolute;
                left: 26%;
                bottom: 38px;
                font-size: 25px;
                color: #D2D2D2;
                ;
            }
            
            .main-link {
                position: absolute;
                right: 25.5%;
                bottom: 17px;
            }
            
            .h-l-text {
                font-family: 'Proxima Nova';
                font-style: normal;
                font-weight: bold;
                font-size: 20px;
                line-height: 32px;
                /* identical to box height, or 160% */
                letter-spacing: 0.02em;
                color: #919299;
            }
            /* Contact end */
            /* Footer section */
            
            footer {
                padding: 25px 0;
                background: url('../img/bg/footer.png');
                background-repeat: no-repeat;
                background-size: cover;
            }
            
            footer>.container>.row {
                width: 100%;
                align-items: flex-start;
                justify-content: space-between;
            }
            
            .footer-introduction {
                width: 40%;
            }
            
            .f-icon {
                text-decoration: none;
                font-size: 28px;
                margin-right: 20px;
                padding: 5px 9px;
                border-radius: 50%;
                background-color: #fff;
                box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
            }
            
            .footer-menyu {
                display: flex;
            }
            
            .footer-list {
                margin: 0 79px;
                padding: 0;
                list-style: none;
            }
            
            .first-item {
                font-family: 'Circular Std';
                font-style: normal;
                font-weight: 500;
                font-size: 24px;
                line-height: 32px;
                letter-spacing: 0.02em;
                color: #56597A;
            }
            
            .first-item>p {
                margin: 0;
            }
            
            .f-link {
                text-decoration: none;
                font-family: 'Proxima Nova';
                font-style: normal;
                font-weight: normal;
                font-size: 18px;
                line-height: 42px;
                /* padding: 50px 25px;     */
                letter-spacing: 0.02em;
                color: #919299;
                text-transform: capitalize;
            }
            
            .footer-end {
                display: flex;
                align-items: center;
                justify-content: space-between;
            }
            
            .footer-end p {
                font-family: Circular Std;
                font-style: normal;
                font-weight: 450;
                font-size: 14px;
                line-height: 30px;
                letter-spacing: 0.02em;
                color: #FFFFFF;
            }
            
            #end {
                background-color: #F78BB6;
            }
            
            .select {
                display: flex;
                align-items: center;
            }
            
            #lang {
                border-radius: 8px;
                font-family: 'Circular Std';
                font-style: normal;
                font-weight: 450;
                font-size: 14px;
                line-height: 24px;
                letter-spacing: 0.02em;
                color: #FFFFFF;
                outline: none;
                border: 1px solid transparent;
                background-color: #F78BB6;
            }